<div class="container-card">



<main ngbSlide *ngFor="let item of news; index as i" class="container_big-card">
    <img class="img" [src]="item.urlToImage" alt=""/>
    
    <div class="date">
        <span>Junho </span>
        <span>01, 2022</span>
    </div>

    <a [href]="item.url">
    <h1 class="text title">{{item.title}}</h1>

    <p class="text description">{{item.description}}</p>
    </a>
    
</main>


<div class="container_small-card">
    <app-small-card></app-small-card>
</div>

</div>

