<section class="container">
    
    <div class="container_small-card">
        <img class="img" src="https://media.architecturaldigest.com/photos/57c7003fdc03716f7c8289dd/master/pass/IMG%20Worlds%20of%20Adventure%20-%201.jpg" alt=""/>
    
        <div>
            <div class="text">
                <span>Janeiro </span>
                <span>01, 2022</span>
            </div>
        
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus voluptate ullam sapiente voluptatum cupiditate dolorem! Blanditiis natus eveniet odit, nemo in, incidunt quidem fugit animi, voluptate ad facere placeat tempore.</p>
        </div>
    </div>

</section>