.container_menu-bar{
    width:100%;
    height:50px;
    display:flex;
    justify-content:space-between;
    padding-left:20px;
    padding-right:20px;
    align-items:center;
    color:#fff;


}

.img{
    width:9%;
    border-radius:50%;
}

.nav-list{
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.menuCheckbox{
    display:flex;
    
}

.countryBR{
    margin-right:5px;
}

.countryUSA{
    margin-left:5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
   
    
   
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }