<header class="container_menu-bar">
    
    <nav class="nav-list">
        <img class="img" src="https://st.depositphotos.com/1561359/5117/v/600/depositphotos_51177197-stock-illustration-pile-of-newspaper.jpg" alt="jornal"/>
    
        <span>Inicio</span>
        <span>Finanças</span>
        <span>Politica</span>
        <span>Esporte</span>
    </nav>

    <div class="menuCheckbox">
        <span class="countryBR">Brasil</span>
        <label class="switch">
        <input type="checkbox" value="Brasil">
        <span class="slider round"></span>
        </label>
        <span class="countryUSA">USA</span>
    </div>
    
</header>
